<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @registration.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @registration.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registration.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @registration.age %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
